@font-face {
    font-family: 'montserrat';
    src: url('./myfonts/montserrat/Montserrat-Light.otf');
}
@font-face {
    font-family: 'dancing';
    src: url('./myfonts/dancing/Dancing Script OT.otf');
}
@font-face {
    font-family: 'quicksand';
    src: url('./myfonts/quicksand/Quicksand-Regular.ttf');
}

#sub-menu{
    width: 65%;
    height: auto;
    margin: auto;
    margin-top: 2%;
    margin-bottom: 4%;
    border-radius: 10px;
    border: solid rgb(48, 56, 65);

    box-shadow: 0 0 10px dimgrey,
    0 0 5px rgba(48, 56, 65, 0.9);
    background: rgb(48, 56, 65);

    display: grid;
    grid-template-columns: 100%;
    /*grid-gap: 2%;*/
}

#sub-menu2{
    width: 65%;
    height: auto;
    margin: auto;
    margin-top: 2%;
    margin-bottom: 4%;
    border-radius: 10px;
    border: solid rgb(48, 56, 65);

    box-shadow: 0 0 10px dimgrey,
    0 0 5px rgba(48, 56, 65, 0.9);
    background: rgb(48, 56, 65);

    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-gap: 3.33%;
}

.unEntreprise{
    position: relative;
    width: 50%;
    height: 45px;
    margin: auto;
    margin-top: 2%;
    margin-bottom: 2%;

    display: flex;
    justify-content: center;
    align-items: center;
    color: dimgrey;

    font-size: smaller;
}
.unEntreprise::before{
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 6px;
    padding: 2px;
    background: linear-gradient(45deg, mediumseagreen, lightseagreen);
    -webkit-mask:
            linear-gradient(#fff 0 0) content-box,
            linear-gradient(#fff 0 0);
    -webkit-mask-composite:  xor;
    mask-composite: exclude;
}

.unEntreprise:hover{
    width: 51%;
    height: 47px;
}

#menu h4{
    color: dimgrey;

    text-align: center;
}

#menu a h4{
    pointer-events: auto;
    text-decoration: solid underline;

    background: -webkit-linear-gradient(45deg, mediumseagreen, lightseagreen);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#menu a h4:hover{
    background: -webkit-linear-gradient(45deg, lightseagreen, lightseagreen);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.form-content{
    width: 65%;
    height: auto;
    margin: auto;
    margin-top: 2%;
    margin-bottom: 4%;
    border-radius: 10px;
    border: solid rgb(48, 56, 65);

    box-shadow: 0 0 10px dimgrey,
    0 0 5px rgba(48, 56, 65, 0.9);
    background-color: rgb(48, 56, 65);

    display: grid;
    grid-template-columns: 50% 50%;
    /*grid-gap: 2%;*/
}

.boutonValider{
    position: relative;
    width: 95%;
    height: 40px;
    margin: auto;
    margin-top: 3%;
    margin-bottom: 3%;

    border-radius: 6px;
    border-style: hidden;

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: "quicksand";
    color: white;
    text-align: center;

    background: linear-gradient(45deg, mediumseagreen, lightseagreen);
}

.boutonValider:hover{
    background: linear-gradient(45deg, lightseagreen, lightseagreen);
}

.inputfile{
    border-style: hidden;
    border-color: white;
}

input[type="file"] {
    cursor: pointer;
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}

input[type="file"]:focus {
    outline: none;
}

.titlebar{
    width: 98%;
    margin: auto;

    display: grid;
    grid-template-columns: 10% 80% 10%;
    text-align: center;
}

.precedent{
    width: 100%;
    height: 50%;
}
.precedent i{
    width: 100px;
    font-size: 130%;
    color: mediumspringgreen;
}
.precedent i:hover{
    font-size: 150%;
    color: lightseagreen;
}


.tableau{
    width: 90%;
    margin: auto;
    margin-top: 0;
    margin-bottom: 5%;

    border: 1px solid white;

    color: white;
    font-family: "quicksand", sans-serif;
}
.tableau tr th{
    border: 1px solid white;
    /*background: linear-gradient(45deg, rgba(59, 179, 115, 0.2), rgba(32, 178, 169, 0.2));*/
    background-color: rgba(255, 255, 255, 0.3);
    font-size: medium;
}
.tableau tr td{
    border: 1px solid white;
    font-size: smaller;
}
.intitule{
    max-width: 100%;
    min-height: 30px;

    display: flex;
    justify-content: left;
    align-items: center;
}
.modifsuppr{
    width: 12%;
    text-align: center;
}
.modifsuppr a{
    color: dimgrey;
}
.modifsuppr a:hover{
    color: white;
}

.modifPCinput{
    border: 1px dashed white;
    color: white;
    font-family: "quicksand", sans-serif;
    width: 100%;
    height: 30px;
    /*background: rgba(255, 255, 255, 0.05);*/
    background: dimgrey;
}

#suppconfirm{
    opacity: 0;
    display: grid;
    grid-template-columns: 48% 48%;
    grid-gap: 4%;
}

.affichage{
    position: relative;
    width: 100px;
    height: 100px;
    margin: auto;
    margin-top: 10%;
    margin-bottom: 0%;

    display: flex;
    justify-content: center;
    align-items: center;
    color: dimgrey;

    font-size: smaller;
}
.affichage::before{
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 6px;
    padding: 2px;
    background: linear-gradient(45deg, mediumseagreen, lightseagreen);
    -webkit-mask:
            linear-gradient(#fff 0 0) content-box,
            linear-gradient(#fff 0 0);
    -webkit-mask-composite:  xor;
    mask-composite: exclude;
}

.affichage:hover{
    animation: tourner 0.3s linear;
}
@keyframes tourner {
    20%{rotate: 60deg;}
    40%{rotate: 120deg;}
    60%{rotate: 180deg;}
    80%{rotate: 240deg;}
    100%{rotate: 360deg;}
}

.affichage-st{
    width: 100%;
    height: 30px;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    border: 2px hidden white;

    display: flex;
    justify-content: center;
    align-items: center;
    color: dimgrey;
}

.menu-nav{
    font-weight: bolder;
    font-family: "montserrat";
    font-size: 300%;

    background: -webkit-linear-gradient(45deg, mediumseagreen, lightseagreen);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
